body {
  background-image: url("images/gizaUfos.jpg");
  background-size: contain;
  font-family: 'Roboto Mono', monospace;
  padding: 10px;
}
li {
  font-size: 20px;
  color: #bbbbbb;
  background-color: rgba(0, 0, 0, 0.5);
}
p {
  font-size: 20px;
  color: #bbbbbb;
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-link {
  padding: 10px;
  font-size: 30px;
}
.submit-theory {
  display: flex;
  flex-direction: column;
}
